<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="resturants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Resturants</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>My Cart</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-item>
  <ion-label position="stacked">Username</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-button routerLink="/tabs" >Login</ion-button> -->